<!DOCTYPE html>
<html lang="en">
<head>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
 <link rel="stylesheet" href="edit.css">
</head>
<body>
<div class ="leftContainer">
    <nav>
    <ul>
        <a href="edit.html"><i class="fa-solid fa-house"></i></a><br><br>
      <a href = "crop.html"><i class="fa-solid fa-crop"></i> </a><br><br>
      <a href = "brush.html"><i class="fa-solid fa-brush"></i></a><br><br>
      <a href = "sun.html"><i class="fa-solid fa-sun"></i> </a><br><br>
      <a href = "layer.html"><i class="fa-solid fa-layer-group"></i></a><br><br>
      <a href = "sketch.html"><i class="fa-solid fa-pencil"></i></a><br><br>
        <a href = "rotate.html"><i class="fa-solid fa-rotate"></i></a><br><br>
    </ul>
  </nav>
  </div>
  <div class = "rightContainer">
    
  </div>


     <script src="../template/index.js"></script>
</body>
</html>